* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

@keyframes giggle {
  20% {
    background: linear-gradient(
      to bottom right,
      transparent,
      #822646cb,
      #62001d
    );
  }
  40% {
    transform: translateX(10%);
    background: linear-gradient(
      to bottom right,
      transparent,
      #822646cb,
      #62001d
    );
  }
  80% {
    transform: translateX(-20%);
    background: linear-gradient(
      to bottom right,
      transparent,
      #822646cb,
      #62001d
    );
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes blastBubble {
  to {
    transform: scale(0);
  }
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgb(37, 78, 118);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  .title {
    text-align: center;
    font-size: 2.5rem;
    color: #adbacb;
  }
  #panel {
    height: 90%;
    width: 95%;
    background-color: #fafafa;
    border-radius: 0.8em;
    overflow: hidden;
    position: relative;

    .pause-overlay {
      width: 100%;
      height: calc(100% - 130px);
      position: absolute;
      left: 0;
      bottom: 0;
      display: none;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #1b2a40de;
      h1 {
        font-size: 2rem;
        color: #adbacb;
      }
    }

    .play-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: #1b2a40;
      h1 {
        font-size: 1.5rem;
        text-align: center;
        color: #adbacb;
      }
      button {
        font-size: 1.2rem;
        color: #fafafa;
        border: none;
        padding: 0.3em 1.5em;
        background-color: #00a6ed;
        border-radius: 6px;
        transition: all 0.3s linear;
        box-shadow: -2px 2px 1px 1px #0281b8;
        text-decoration: none;

        &:hover {
          background-color: #0095d5;
          box-shadow: -2px 2px 1px 1px #00a6ed;
          cursor: pointer;
        }
        &:active {
          scale: 0.9;
        }
      }
    }
    .info-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      display: none;
      background-color: #1b2a4077;
      .rules-card {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        font-size: 0.8rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #1b2a40;
        color: #adbacb;
        border-radius: 6px;
        gap: 1rem;
        h1 {
          font-size: 1.5rem;
          color: #bbc8d9;
        }
        ol {
          ul {
            margin-left: 1.5rem;
            list-style: disc;
          }
        }
        button {
          font-size: 1.2rem;
          font-weight: 600;
          color: #fafafa;
          border: none;
          padding: 0.3em 1.5em;
          background-color: #328300;
          border-radius: 6px;
          transition: all 0.3s linear;
          box-shadow: -2px 2px 1px 1px #1aad00;
          text-decoration: none;

          &:hover {
            background-color: #1b6d00;
            box-shadow: -2px 2px 1px 1px #31b700;
            cursor: pointer;
          }
          &:active {
            scale: 0.9;
          }
        }
      }
    }
    #paneltop {
      width: 100%;
      height: 130px;
      background-color: rgb(32, 53, 73);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: stretch;
      place-content: end;

      gap: 0.5rem;
      padding: 1rem;
      .menu {
        place-self: stretch;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        h3 {
          color: #d8dee6;
          font-size: 1rem;
          font-weight: 400;
        }
        .box {
          font-size: 1rem;
          font-weight: 500;
          padding: 0.2em 0.4em;
          color: #004e9c;
          background-color: #adbacb;
          border-radius: 5px;

          svg {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            cursor: pointer;
          }
        }
        #exitGame {
          text-decoration: none;
          font-size: 0.8rem;
          font-weight: 600;
          color: #fafafa;
          border: none;
          padding: 0.2em 1em;
          background-color: #00a6ed;
          border-radius: 6px;
          transition: all 0.3s linear;
          box-shadow: -2px 2px 1px 1px #0281b8;

          &:hover {
            background-color: #0095d5;
            box-shadow: -2px 2px 1px 1px #00a6ed;
            cursor: pointer;
          }
          &:active {
            scale: 0.9;
          }
        }
      }
    }
    #panelbtm {
      overflow-y: auto;
      width: 100%;
      height: calc(100% - 130px);
      padding: 0.5em 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      background-color: rgb(104, 134, 161);
      gap: 0.6em;
      .bubble {
        position: relative;
        height: 45px;
        width: 45px;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 50%;
        background: linear-gradient(
          to bottom right,
          transparent,
          #265682cb,
          #004062
        );
        color: #fafafa;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s linear;
        animation-timing-function: linear;

        &:hover {
          background-color: #124560;
          cursor: pointer;
          box-shadow: 0px 0px 10px 0.5px #123960;
        }
        &:active {
          scale: 0.8;
          box-shadow: 0px 0px 30px 5px #124160;
        }

        .blastBubble {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          overflow: hidden;
          display: none;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      .gameend {
        margin-inline: auto;
        color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: #1b2a40;
        border-radius: 6px;

        h2 {
          font-size: 1.2rem;
          font-weight: 200;
        }

        h2 {
          font-weight: 300;
        }

        #play-again {
          font-size: 1.2rem;
          color: #fafafa;
          border: none;
          padding: 0.3em 1.5em;
          background-color: #00a6ed;
          border-radius: 6px;
          transition: all 0.3s linear;
          box-shadow: -2px 2px 1px 1px #0281b8;
          text-decoration: none;

          &:hover {
            background-color: #0095d5;
            box-shadow: -2px 2px 1px 1px #00a6ed;
            cursor: pointer;
          }
          &:active {
            scale: 0.9;
          }
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  #main {
    .title {
      font-size: 3rem;
    }
    #panel {
      width: 95%;
      height: 80%;

      .pause-overlay {
        height: calc(100% - 100px);
        h1 {
          font-size: 3rem;
          color: #adbacb;
        }
      }
      .play-overlay {
        h1 {
          font-size: 2rem;
          text-align: center;
          color: #adbacb;
        }
      }

      .info-overlay {
        align-items: center;
        justify-content: center;
        .rules-card {
          width: fit-content;
          height: fit-content;
          font-size: 1rem;
        }
      }

      #paneltop {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1.5rem;
        .menu {
          h3 {
            font-size: 1.275rem;
          }
          .box {
            font-size: 1.275rem;
            padding: 0.2em 0.6em;
            svg {
              width: 28px;
              height: 28px;
            }
          }
          #exitGame {
            font-size: 1.2rem;
          }
        }
      }
      #panelbtm {
        height: calc(100% - 100px);
        justify-content: center;
        gap: 0.8em;
        .bubble {
          height: 60px;
          width: 60px;
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  #main {
    #panel {
      width: 95%;
      height: 76vh;
      #paneltop {
        justify-content: center;
        gap: 4.5rem;
      }
    }
  }
}
@media (min-width: 1440px) {
  #main {
    #panel {
      width: 80%;
      height: 80vh;
    }
  }
}
